[submodule "+Utils/+CANControl"]
	path = +Utils/+CANControl
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/CANControl.git
[submodule "+Utils/+NewportXPS"]
	path = +Utils/+NewportXPS
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/NewportXPS.git
