[submodule "submodules/CANControl"]
	path = submodules/CANControl
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/CANControl.git
[submodule "submodules/NewportXPS"]
	path = submodules/NewportXPS
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/NewportXPS.git
